@use "./base.scss";
@use "./custom/callouts.scss";
@use "./custom/image_grid_float.scss";
@use "./custom/grid_callouts.scss";
@use "./custom/file_icon.scss";
@use "./variables.scss" as *;

// Put your custom CSS here!

header {
  gap: 1vw;
}

ul.overflow,
ol.overflow {
  max-height: 80dvh;
}

.page .page-header {
  padding: 1px;
  width: auto;
}

@media all and (max-width: $fullPageWidth) {
  .page-title.mobile-only {
    max-width: fit-content;
    a {
      font-size: 4dvw;
      vertical-align: 0.25em;
    }
  }
}

@media all and (max-width: $mobileBreakpoint) {
  .page .page-header {
    width: 96dvw;
  }
}

@media all and (min-width: $tabletBreakpoint) {
  .page-title.mobile-only a {
    font-size: 2.5vw;
    vertical-align: middle;
  }
}

.page .page-header {
  //position: sticky;
  top: 0;
  border-bottom: 1px solid var(--lightgray);
  background-color: var(--light);
  z-index: 100;
  margin-top: 0 !important;

  &.fixed {
    border-bottom: 0;
  }
}

hr {
  width: auto !important;

  .hr-title & {
    margin: 0;
    margin-top: -0.3em;
  }
}

.rside-10 img[alt*="+rside"] {
  width: 10em;
}

.wiki-right .callout[data-callout$="wiki"] h1,
.wiki-right .callout[data-callout$="wiki"] h3 {
  background-color: var(--lightgray);
}

.avatar img[alt="+rside"] {
  width: auto;
}

footer {
  & p {
    font-size: small;
    margin: 0;
  }
  & hr {
    border: 1px dashed;
    margin: 0;
    margin-top: 5px;
    background-color: transparent;
    height: 0;
  }
  & ul {
    font-size: small;
    margin: -0.5rem 0 0;
  }
}

.page-listing {
  hr {
    border: 1px double;
    margin: 0;
    background-color: transparent;
    height: 0;
  }
  p {
    font-size: smaller;
    text-align: right;
  }
  .no-folder-list & {
    display: none;
  }
}

.page-header .spacer.mobile-only {
  max-width: 1vw;
}

ul.overflow:after,
ol.overflow:after {
  background: none;
}

// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #FF5D62;
  --tertiary: #3150AA;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
}

//check base.scss and .internal-linking for background color: can be set as varable


[saved-theme="dark"] {
  --light: #1F1F28 !important;
  --dark: rgb(184, 100, 102) !important;
  --secondary: #658594 !important;
  --visited: #938AA9 !important;
  --tertiary: #E46876 !important;
  --primary: #D27E99 !important;
  --gray: #DCD7BA !important;
  --lightgray: #181820 !important;
  --outlinegray: #C8C093 !important;
  --darkgray: #b6b3b3 !important;
}

[saved-theme="light"] {
  --light: #1b212a !important; // #161A1C // #040809
  --dark: #e2e2ff !important;
  --secondary: #c28c8c !important;
  --visited: #394FA4 !important;
  --tertiary: #f25656 !important;
  --primary: #ad7e7d !important;
  --gray: #c5c5d4 !important; //#a9a9b3
  --lightgray: #7a7c86 !important;
  --outlinegray: #343434 !important;
  --darkgray: #b6b3b3 !important;
}

//[saved-theme="light"] {
//  --light: #1b212a !important; // #161A1C // #040809
//  --dark: #e2e2ff !important;
//  --secondary: #f25656 !important;
//  --visited: #394FA4 !important;
//  --tertiary: #f25656 !important;
//  --primary: #f58382 !important;
//  --gray: #c5c5d4 !important; //#a9a9b3
//  --lightgray: #444652 !important;
//  --outlinegray: #343434 !important;
//}

/* Style the button that is used to open and close the collapsible content */
._collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, ._collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
._content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}